<nav class="navbar navbar-expand-lg navbar-light bg-light border-info">
  <a class="navbar-brand ml-5 mr-5 pr-5 font-weight-bold" [routerLink]="['/admin']"><i class="fa fa-angellist mr-2 font-weight-bold"></i>Admin</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon "></span>
  </button>
  <div class="collapse navbar-collapse " id="navbarSupportedContent">
    <form class="form-inline my-2 my-lg-0 ml-5">
      <input class="form-control mr-xl-0 mr-sm-2" type="search" placeholder="Tìm kiếm ..." aria-label="Search">
      <button class="btn btn-primary my-2 my-sm-0" type="submit"><i class="fa fa-search"></i></button>
    </form>
  </div>
</nav>