<section class="pt-5 pb-5 gioi-thieu-phim">
  <div class="container pt-4 pb-4">
    <div class="row">
      <div class="col-6 text-center">
        <div class="tab-content">
          <div class="tab-pane active" id="phim1">
            <div class="embed-responsive embed-responsive-16by9 khung-phim">
              <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/Q0CbN8sfihY" allowfullscreen></iframe>
            </div>
          </div>
          <div class="tab-pane" id="phim2">
            <div class="embed-responsive embed-responsive-16by9 khung-phim">
              <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/6ZfuNTqbHE8" allowfullscreen></iframe>
            </div>
          </div>
          <div class="tab-pane" id="phim3">
            <div class="embed-responsive embed-responsive-16by9 khung-phim">
              <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/ue80QwXMRHg" allowfullscreen></iframe>
            </div>
          </div>
        </div>
      </div>
      <div class="col-6">
        <ul class="nav nav-tabs tabs-right sideways d-flex flex-column">
          <li class="">
            <a href="#phim1" data-toggle="tab" class="text-white">
              <div class="demo">
                <div class="d-flex">
                  <div class="nut-play text-center">
                    <i style="font-size: 38px;" class="fa fa-forward"></i>
                  </div>
                  <div class="pl-2">
                    <h4 class="text-uppercase font-weight-bold">Star Wars: The Last Jedi Trailer</h4>
                    <p class="pl-0">Cuối Cùng: Sau khi bị người học trò...</p>
                  </div>

                </div>

                <div class="clearfix"></div>
              </div>
            </a>
          </li>
          <li>
            <a href="#phim2" data-toggle="tab" class="text-white">
              <div class="demo">
                <div class="d-flex">
                  <div class="nut-play text-center">
                    <i style="font-size: 38px;" class="fa fa-forward"></i>
                  </div>
                  <div class="pl-2">
                    <h4 class="text-uppercase font-weight-bold">Marvel Studios' Avengers</h4>
                    <p class="pl-0">Lorem ipsum dolor sit amet consectetur adipisicing.</p>
                  </div>

                </div>

                <div class="clearfix"></div>
              </div>
            </a>
          </li>
          <li>
            <a href="#phim3" data-toggle="tab" class="text-white">
              <div class="demo">
                <div class="d-flex">
                  <div class="nut-play text-center">
                    <i style="font-size: 38px;" class="fa fa-forward"></i>
                  </div>
                  <div class="pl-2">
                    <h4 class="text-uppercase font-weight-bold">Thor: Ragnarok" Official Trailer</h4>
                    <p class="pl-0">Nếu Oscar Phim đại chúng được trao từ 10 năm trước, những bom tấn nào sẽ lên ngôi?.</p>
                  </div>
                </div>
                <div class="clearfix"></div>
              </div>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>