<section class="container pb-3 pt-5 tin-tuc">
    <div class="row text-white font-weight-bold">
        <div class="col-lg-8 col-md-12">
            <h2 class="pb-4 font-weight-bold">
                <i class="fa fa-newspaper-o pr-2 mau-icon"></i>TIN MỚI
            </h2>
            <div class="row pb-5 d-flex">
                <div class="col-lg-5 col-md-12">
                    <img class="hinh" src="../../../assets/img/tomb-raider-gallery-2-300x169.jpeg" alt="">
                </div>
                <div class="col-lg-7 col-md-12">
                    <h4>Dự án Guardians of the Galaxy</h4>
                    <p style="color:#b0ace0;" class="font-weight-light">
                        Trong khi mọi con dân trên quả Đất đều mong ngóng từng ngày thông tin về dự án Guardians of the Galaxy...
                    </p>
                    <div class="text-warning">
                        <span class="mr-3">
                            <i class="fa fa-calendar pr-2"></i>27/07/2018</span>
                        <span> 0 BÌNH LUẬN</span>
                    </div>
                </div>
            </div>
            <div class="row pb-5 d-flex">
                <div class="col-lg-5 col-md-12">
                    <img class="hinh" src="../../../assets/img/batman_arkham_city-2-300x169.jpg" alt="">
                </div>
                <div class="col-lg-7 col-md-12">
                    <h4>Sau gần 10 năm của Inception</h4>
                    <p style="color:#b0ace0;" class="font-weight-light">
                        Siêu phẩm Inception của Christopher Nolan đến nay đã ra mắt được gần một thập kỷ ...
                    </p>
                    <div class="text-warning">
                        <span class="mr-3">
                            <i class="fa fa-calendar pr-2"></i>28/07/2018</span>
                        <span> 0 BÌNH LUẬN</span>
                    </div>
                </div>
            </div>
            <div class="row pb-5 d-flex">
                <div class="col-lg-5 col-md-12">
                    <img class="hinh" src="../../../assets/img/img_8399-300x200.jpg" alt="">
                </div>
                <div class="col-lg-7 col-md-12">
                    <h4>Mở rộng đại dịch Zombie</h4>
                    <p style="color:#b0ace0;" class="font-weight-light">
                        Đạo diễn Yeon Sang-ho vừa qua đã xác nhận, bom tấn Hàn từng thu về 100 triệu đô toàn cầu Train to Busan...
                    </p>
                    <div class="text-warning">
                        <span class="mr-3">
                            <i class="fa fa-calendar pr-2"></i>29/07/2018</span>
                        <span> 0 BÌNH LUẬN</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-12 text-center">
            <div>
                <h2 class="pb-4 font-weight-bold">BEST DEALS</h2>
            </div>
            <div class="best">
                <img class="hinh img-fluid" src="../../../assets/img/metal-gear-2-poster-493x750.jpg" alt="">
            </div>
            <div class="pl-3 pt-3 pb-2" style="background-color: #1a173e;">
                <h4>Metal Gear – Poster</h4>
                <h4>6.00</h4>
            </div>

        </div>
    </div>
</section>

<div class="uu-dai pt-5 pb-5" id="uu-dai">

    <div class="container">
        <h2 class="pb-4 font-weight-bold text-white">
            <i class="fa fa-newspaper-o pr-2 mau-icon"></i>ƯU ĐÃI</h2>
        <div class="row">
            <div class="col-xl-3 col-md-6 text-white ">
                <img class="img-fluid" src="../../../../assets/img/suat-chieu-dac-biet.png" alt="">
                <h6>Suất Chiếu Đặc Biệt</h6>
                <span>Từ 26/7/2018</span>
            </div>
            <div class="col-xl-3 col-md-6 text-white ">
                <img class="img-fluid" src="../../../../assets/img/mo-the-visa.png" alt="">
                <h6>Mở Thẻ Visa, Nhận Quà Cực Chất</h6>
                <span>Từ 26/7/2018</span>
            </div>
            <div class="col-xl-3 col-md-6 text-white ">
                <img class="img-fluid" src="../../../../assets/img/com-bo.png" alt="">
                <h6>Combo Teen Titans</h6>
                <span>Từ 26/7/2018</span>
            </div>
            <div class="col-xl-3 col-md-6 text-white ">
                <img class="img-fluid" src="../../../../assets/img/khai-truong.png" alt="">
                <h6>Quà Tặng Khai Trương</h6>
                <span>Từ 26/7/2018</span>
            </div>
        </div>
    </div>
</div>