<div class="container">
    <div class="row">
        <div class="col-xl-4 col-md-12 text-center quan-ly text-uppercase font-weight-bold">
            <div class="nguoi-dung pt-3 pb-3">
                <h3>Người dùng</h3>
                <div class="icon">
                    <i class="fa fa-users"></i>
                </div>
                <button [routerLink]="['/admin/qlnguoidung']" class="btn btn-warning font-weight-bold">ĐI ĐẾN</button>
            </div>
        </div>
        <div class="col-xl-4 col-md-12 text-center quan-ly text-uppercase font-weight-bold">
            <div class="thanh-vien pt-3 pb-3">
                <h3>Thành viên</h3>
                <div class="icon">
                    <i class="fa fa-user-plus"></i>
                </div>
                <button [routerLink]="['/admin/qlnguoidung']" class="btn btn-warning font-weight-bold">ĐI ĐẾN</button>
            </div>
        </div>
        <div class="col-xl-4 col-md-12 text-center quan-ly text-uppercase font-weight-bold">
            <div class="cyber-phim pt-3 pb-3">
                <h3>Cyber Phim</h3>
                <div class="icon">
                    <i class="fa fa-film"></i>
                </div>
                <button [routerLink]="['/admin/qlphim']" class="btn btn-warning font-weight-bold">ĐI ĐẾN</button>
            </div>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-xl-6 col-md-12 bar-chart-block block justify-content-center">
            <h2 class='titular'>Giá trị cột
                <span>*1000</span>
            </h2>
            <div class='grafico bar-chart'>
                <ul class='eje-y'>
                    <li data-ejeY='60'></li>
                    <li data-ejeY='45'></li>
                    <li data-ejeY='30'></li>
                    <li data-ejeY='15'></li>
                    <li data-ejeY='0'></li>
                </ul>
                <ul class='eje-x'>
                    <li data-ejeX='37'>
                        <i>Hành động</i>
                    </li>
                    <li data-ejeX='56'>
                        <i>Lãng mạn</i>
                    </li>
                    <li data-ejeX='25'>
                        <i>Viễn tưởng</i>
                    </li>
                    <li data-ejeX='18'>
                        <i>Hoạt hình</i>
                    </li>
                    <li data-ejeX='45'>
                        <i>Hài hước</i>
                    </li>
                    <li data-ejeX='50'>
                        <i>Điện ảnh</i>
                    </li>
                    <li data-ejeX='33'>
                        <i>Cổ trang</i>
                    </li>
                </ul>
            </div>
            <h4 class="text-white p-4">Tình hình xem phim 6 tháng đầu năm 2018</h4>
        </div>
    </div>
    <p class="copyright text-warning font-weight-bold font-italic pt-5">© 2018 CyberPhim</p>
</div>