<div class="container pb-5 pt-3">

  <div class="row">
    <div class="col-md-3 col-sm-6 col-12 text-uppercase font-weight-bold icon-khung">
      <img class="img-fluid text-center" src="../../../assets/img/the-shawshank-redemption-213x300.jpg" alt="">
      <div class="icon-xem text-center" data-toggle="modal" data-target="#exampleModal">
        <i class="fa fa-film"></i>
      </div>
      <h5 class="text-white pt-2">The Shawshank ...</h5>
      <div class="d-flex text-warning">
        <i class="fa fa-star "> 5/5</i>
        <p class="pl-3">Crime,Drama</p>
      </div>

    </div>

    <div class="col-md-3 col-sm-6  col-12 text-uppercase font-weight-bold icon-khung">
      <img class="img-fluid text-center" src="../../../assets/img/the-godfather-213x300.jpg" alt="">
      <div class="icon-xem text-center" data-toggle="modal" data-target="#exampleModal">
        <i class="fa fa-film"></i>
      </div>
      <h5 class="text-white pt-2">The Godfather</h5>
      <div class="d-flex text-warning">
        <i class="fa fa-star "> 5/5</i>
        <p class="pl-3">Crime,Drama</p>
      </div>

    </div>

    <div class="col-md-3 col-sm-6 col-12  text-uppercase font-weight-bold icon-khung">
      <img class="img-fluid text-center" src="../../../assets/img/the-dark-night-213x300.jpg" alt="">
      <div class="icon-xem text-center" data-toggle="modal" data-target="#exampleModal">
        <i class="fa fa-film"></i>
      </div>
      <h5 class="text-white pt-2">The Dark Knight</h5>
      <div class="d-flex text-warning">
        <i class="fa fa-star "> 5/5</i>
        <p class="pl-3">Action,Crime,Drama</p>
      </div>

    </div>

    <div class="col-md-3 col-sm-6 col-12 text-uppercase font-weight-bold icon-khung">
      <img class="img-fluid text-center" src="../../../assets/img/star-wars-ep-5-213x300.jpg" alt="">
      <div class="icon-xem text-center" data-toggle="modal" data-target="#exampleModal">
        <i class="fa fa-film"></i>
      </div>
      <h5 class="text-white pt-2">Star Wars:Episode</h5>
      <div class="d-flex text-warning">
        <i class="fa fa-star "> 5/5</i>
        <p class="pl-3">Crime,Drama</p>
      </div>

    </div>

  </div>


  <div class="modal fade bd-example-modal-lg" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">

        <div class="modal-body">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/hh5HV4iic1Y" allowfullscreen></iframe>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">Đóng</button>
        </div>
      </div>
    </div>
  </div>
</div>