<footer class="pt-5 pb-5">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-12 d-flex  justify-content-around">

        <div class="float-left">
          <h5 class="text-white font-weight-bold font-italic">Cyber Phim</h5>
          <ul class="list-unstyled">
            <li>FAQ</li>
            <li>Brand Guidelines</li>
          </ul>
        </div>
        <div class="float-right">
          <h5 class="text-white font-weight-bold ">Chính sách</h5>
          <div>
            <ul class="list-unstyled">
              <li>
                Quyền lợi
              </li>
              <li>
                Thỏa thuận sử dụng
              </li>
              <li>
                Quy chế hoạt động
              </li>
              <li>
                Chính sách bảo mật
              </li>
            </ul>
          </div>
        </div>

      </div>
      <div class="clearfix"></div>
      <div class="col-lg-4 col-md-12  text-center">
        <div>
          <h5 class="font-weight-bold text-uppercase">Đối tác</h5>
          <ul class="list-unstyled">
            <li>
              <img class="img-fluid image-doitac mr-1" src="../../../../assets/img/bhd.png" alt="">
              <img class="img-fluid image-doitac m-2" src="../../../../assets/img/galaxycine.png" alt="">
              <img class="img-fluid image-doitac m-2" src="../../../../assets/img/cinestar.png" alt="">
              <img class="img-fluid image-doitac m-2" src="../../../../assets/img/854e065ed5dfd5441965c99c5e197d56.png" alt="">
              <img class="img-fluid image-doitac m-2" src="../../../../assets/img/megags.png" alt="">
            </li>
            <li>
              <img class="img-fluid image-doitac mr-1" src="../../../../assets/img/STARLIGHT.png" alt="">
              <img class="img-fluid image-doitac m-2" src="../../../../assets/img/dongdacinema.png" alt="">
              <img class="img-fluid image-doitac m-2" src="../../../../assets/img/TOUCH.png" alt="">
              <img class="img-fluid image-doitac m-2" src="../../../../assets/img/momo.png" alt="">
              <img class="img-fluid image-doitac m-2" src="../../../../assets/img/zalopay_icon.png" alt="">
            </li>
            <li>
              <img class="img-fluid image-doitac mr-1" src="../../../../assets/img/payoo.jpg" alt="">
              <img class="img-fluid image-doitac m-2" src="../../../../assets/img/VIETTINBANK.png" alt="">
              <img class="img-fluid image-doitac m-2" src="../../../../assets/img/AGRIBANK.png" alt="">
              <img class="img-fluid image-doitac m-2" src="../../../../assets/img/SGCOOP.png" alt="">
              <img class="img-fluid image-doitac m-2" src="../../../../assets/img/AIRPAY.png" alt="">
            </li>
          </ul>
        </div>
      </div>
      <div class="col-lg-4 col-md-12">
        <div class="d-flex justify-content-around">
          <div>
            <h5 class="font-weight-bold text-uppercase">Mobile App</h5>
            <ul class="list-unstyled">
              <li>
                <img class="img-fluid image-doitac mr-1" src="../../../../assets/img/android-logo.png" alt="">
                <img class="img-fluid image-doitac m-2" src="../../../../assets/img/apple-logo.png" alt="">
              </li>
            </ul>
          </div>

          <div>
            <h5 class="font-weight-bold text-uppercase">SOCIAL</h5>
            <ul class="list-unstyled">
              <li>
                <img class="img-fluid image-doitac mr-1" src="../../../../assets/img/facebook-logo.png" alt="">
                <img class="img-fluid image-doitac m-2" src="../../../../assets/img/zalo-logo.png" alt="">
              </li>
            </ul>
          </div>
        </div>


      </div>
    </div>

    <div class="row pt-3">
      <div class="col text-center">
        <hr class="font-weight-bold bg-secondary">
        <h2 class="text-white font-weight-bold font-italic">Cyber Phim</h2>
        <div class="copyright text-center">
          All right reserved © 2018
        </div>
        <div class="tx-credit text-center">
          Designed &amp; Developed by
          <a href="#" class="text-white font-weight-bold font-italic">Cyber Phim</a>
        </div>
      </div>
    </div>
  </div>
</footer>